<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wenjun's Final Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15B464071C9713E300EA016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B4641B1C9713E300EA016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B464261C9713E300EA016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
